<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<body>
		<div th:fragment="navbar">
		    <nav style="
		        background-color: #333;
		        padding: 12px;
		        margin-bottom: 20px;
		    ">
		        <a href="/" style="color:white; margin-right:15px; text-decoration:none;">Home</a>
		        <a href="/flights" style="color:white; margin-right:15px; text-decoration:none;">Flights</a>
		        <a href="/airports" style="color:white; margin-right:15px; text-decoration:none;">Airports</a>
		        <a href="/airlines" style="color:white; text-decoration:none;">Airlines</a>
		    </nav>
		</div>
	</body>
</html>