<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout}">

	<div th:fragment="content">
	
	    <h2>Airline Directory</h2>
		
		<hr/>
	
	    <!-- ⚠️ NO DATA -->
	    <div th:if="${#lists.isEmpty(airlines)}">
	        <p>No airlines found.</p>
	    </div>
	
	    <!-- ✈️ TABLE -->
	    <table th:if="${!#lists.isEmpty(airlines)}"
	           border="1"
	           cellpadding="8">
	
	        <thead>
	        <tr>
	            <th>Airline Name</th>
	            <th>IATA</th>
	            <th>ICAO</th>
	            <th>Country (N/A)</th>
	            <th>Status (N/A)</th>
	        </tr>
	        </thead>
	
	        <tbody>
	        <tr th:each="a : ${airlines}">
	            <td th:text="${a.name}"></td>
	            <td th:text="${a.iata}"></td>
	            <td th:text="${a.icao}"></td>
	            <td>-</td>
	            <td>-</td>
	        </tr>
	        </tbody>
	
	    </table>
	
	</div>

</html>